* {
    padding: 0;
    margin: 0;
    border: none;
    appearance: none;
}

:root {
    --site-header: 4rem;
    --site-footer: 5rem;
}

.siteHeader:nth-child(n) {
    position: sticky;
    top: 0;
    z-index: 999;
    // margin-block-end: calc(0px - var(--site-header));
}
.siteFooter:nth-child(n) {
    box-sizing: border-box;
    block-size: var(--site-footer);
    padding: 0; // no padding, because we need to manipulate the `block-size`
    display: grid;
    justify-content: stretch;
    align-content: stretch;
    transition: none; // we change the `block-size` dynamically, so we need to turn off the transition to get the effect immediately
    overflow: hidden; // hide the rest content if the `block-size` is too low
    &>.content {
        display: grid;
        block-size: var(--site-footer);
        justify-content: center;
        align-content: center;
    }
}

body {
    display: grid; // workaround for foreign <div>(s) at the end of </body>
}
main {
    box-sizing: border-box;
    min-block-size: calc(100vh - var(--site-header) - var(--site-footer));
    min-block-size: calc(100dvh - var(--site-header) - var(--site-footer));
    // min-block-size: calc(100svh - var(--site-header) - var(--site-footer));
}
.tooltip {
    min-inline-size: 10rem;
}

:where(ul, ol) {
    list-style-position: inside;
}

// :where(img[data-nimg="fill"]) {
//     visibility: hidden;
// }

html, body {
    overflow: hidden;
    height: 100%;
}
.main-scroller {
    overflow-y: auto;
    scrollbar-gutter: stable;
}
