* {
    padding: 0;
    margin: 0;
    border: none;
    appearance: none;
}

:root {
    --site-header: 4rem;
    --site-footer: 5rem;
}

.siteHeader:nth-child(n) {
    position: sticky;
    top: 0;
    z-index: 999;
    // margin-block-end: calc(0px - var(--site-header));
}
.siteFooter:nth-child(n) {
    box-sizing: border-box;
    block-size: var(--site-footer);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: grid; // workaround for foreign <div>(s) at the end of </body>
}
main {
    min-block-size: calc(100vh - var(--site-header) - var(--site-footer));
    min-block-size: calc(100dvh - var(--site-header) - var(--site-footer));
    min-block-size: calc(100svh - var(--site-header) - var(--site-footer));
}

:where(ul, ol) {
    list-style-position: inside;
}

:where(img[data-nimg="fill"]) {
    visibility: hidden;
}
